.drop-down {
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 0;
    top: 0;
}

.drop-down .opener .arrow {
    margin-left: var(--large);
}

.drop-down .menu-item {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 45px;
    padding: 0 var(--large);
    border: none;
    background-color: var(--white);
    color: var(--dark);
    font-size: 1rem;
    cursor: pointer;
    transition: all var(--time) ease-in-out;
}

.drop-down .menu-items {
    display: flex;
    flex-direction: column;
    list-style: none;
}

.drop-down .active {
    background-color: var(--primary);
    color: var(--white);
}
