.cart-item {
    display: grid;
    grid-template-columns: auto 4fr;
    grid-template-rows: 4fr 2fr;
    align-items: center;
    box-shadow: var(--shadow);
    margin: var(--medium) 0;
    padding: var(--medium);
}

.cart-item .image {
    display: flex;
    justify-content: center;
}

.cart-item .info {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
}

.cart-item .info .name {
    font-size: 1.2rem;
    color: var(--dark);
}

.cart-item .price {
    font-size: 1.4rem;
    color: var(--primary);
}

.cart-item .quantity {
    display: flex;
    justify-content: center;
    flex-grow: 2;
}

.cart-item .quantity .decrease,
.cart-item .quantity .increase {
    padding: var(--small) var(--large);
    font-size: 2rem;
    color: var(--white);
    background-color: var(--primary);
    border: none;
}

.cart-item .quantity .value {
    font-size: 2rem;
    padding: var(--small) var(--large);
    background-color: var(--primary);
    color: var(--white);
}
